body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
div {
    padding: 12px 24px;
    background-color: lightgray;
    border-radius: 6px;
    margin: 12px;
}
div h3, div p {
    margin: 0;
}
div img {
    width: 26px;
    height: 26px;
    padding: 6px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 50%;
    filter: brightness(-100%);
    box-shadow: 0 0 6px black;
}
.prompt {
    width: 50%;
    display: flex;
    margin: 0 auto;
}
