{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'checkbox.css' %}">
</head>
<body>
    <section>
        <h1>Список дел - My todos :)</h1>

        <div class="todo-create-container">
            <input class="todo-create-input"type="text">
            <button class="todo-create-button">Добавить</button>
        </div>
    
        <div class="todo-items">
            <div class="todo-item">
                <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Убраться в комнате</h4>
                </div>
                <div class="todo-item-footer">
                    <p>02.11.2021 <span>9:12</span></p>
                    <div class="todo-item-actions">
                        <img src="assets/star.png" alt="Favorite">
                        <img src="assets/bin.png" alt="Delete">
                    </div>
                </div>
            </div>

            <div class="todo-item done">
                <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сделать домашнее задание</h4>
                </div>
                <div class="todo-item-footer">
                    <p>08.11.2021 <span>12:27</span></p>
                    <div class="todo-item-actions">
                        <img src="assets/star.png" alt="Favorite">
                        <img src="assets/bin.png" alt="Delete">
                    </div>
                </div>
            </div>

            <div class="todo-item marked">
                <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Предмет</h4>
                </div>
                <div class="todo-item-footer">
                    <p>01.01.1960 <span>12:00</span></p>
                    <div class="todo-item-actions">
                        <img src="assets/star.png" alt="Favorite">
                        <img src="assets/bin.png" alt="Delete">
                    </div>
                </div>
            </div>

            <div class="todo-item">
                <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Повторить уроки немецкого языка</h4>
                </div>
                <div class="todo-item-footer">
                    <p>24.10.2021 <span>15:33</span></p>
                    <div class="todo-item-actions">
                        <img src="assets/star.png" alt="Favorite">
                        <img src="assets/bin.png" alt="Delete">
                    </div>
                </div>
            </div>

            <div class="todo-item">
                <div class="todo-item-header">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сделать домашнее задание</h4>
                </div>
                <div class="todo-item-footer">
                    <p>08.11.2021 <span>12:27</span></p>
                    <div class="todo-item-actions">
                        <img src="assets/star.png" alt="Favorite">
                        <img src="assets/bin.png" alt="Delete">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>