{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
    <link rel="stylesheet" href="{% static 'generic.css' %}"">
</head>
<body>
    <h1>Создать встречу:</h1>
    <div class="prompt">
        <form action="{% url 'add-meeting' %}" method="post">
            {% csrf_token %}
            <input type="text" name="meeting-persone" placeholder="ФИ (Фамилия и имя)"><br>
            <input type="date" name="meeting-date" placeholder="Дата"><br>
            <input type="text" name="meeting-phonenumber" placeholder="Номер телефона"><br>
            Важная?: <input type="checkbox" name="meeting-favorite"><br>
            Прошла?: <input type="checkbox" name="meeting-done"><br>
            <br>
            <button>Отправить</button>
        </form>
    </div>
    <h1>Список встреч:</h1>
    {% for meeting in tomeet_list %}
        <div>
            <h3>Идентификатор встречи: {{ meeting.id }}</h3>
            <p>Встреча с <i>{{ meeting.persone }}</i> {{ meeting.date_meeting }}</p>
            <p>Номер телефона: {{ meeting.phone_number }}</p>
            <p>Важная: {% if meeting.is_favorite %}да{% else %}нет{% endif %}</p>
            <p>Прошла: {% if meeting.is_done %}да{% else %}нет{% endif %}</p>
            <a href="{% url 'mark-meeting' meeting.id %}">
                {% if meeting.is_favorite %}
                    <img src="{% static 'assets/starred.png' %}" alt="Unfavorite">
                {% else %}
                    <img src="{% static 'assets/unstarred.png' %}" alt="Favorite">
                {% endif %}
            </a>
            <a href="{% url 'delete-meeting' meeting.id %}"><img src="{% static 'assets/bin.png' %}" alt="Delete"></a>
        </div>
    {% endfor %}
    <script>
        const inputDate = document.getElementsByName("meeting-date");
        const today = new Date();
        inputDate[0].valueAsDate = today;
    </script>
</body>
</html>