{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'checkbox.css' %}">
</head>
<body>
    <section>
        <h1>Список дел - My todos :)</h1>

        <div class="todo-create-container">
            <input class="todo-create-input"type="text">
            <button class="todo-create-button">Добавить</button>
        </div>

        <div class="todo-items">
            {% for todo in todo_list %}
                <div class="todo-item {% if todo.is_done %}done{% elif todo.is_favorite %}marked{% endif %}">
                    <div class="todo-item-header">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>{{ todo.text }}</h4>
                    </div>
                    <div class="todo-item-footer">
                        <p>{{ todo.date_created }}</p>
                        <div class="todo-item-actions">
                            {% if todo.is_favorite %}
                                <img src="{% static 'assets/starred.png' %}" alt="Favorite">
                            {% else %}
                                <img src="{% static 'assets/unstarred.png' %}" alt="Favorite">
                            {% endif %}

                            <img src="{% static 'assets/bin.png' %}" alt="Delete">
                        </div>
                    </div>
                </div>
                <!-- <p>
                    <strong>{{ todo }}</strong><br>
                    Задача: {{ todo.text }}<br>
                    Дата создания: {{ todo.date_created }}<br>
                    Закончен: {{ todo.is_done }}<br>
                    Избранный: {{ todo.is_favorite }}<br>
                </p> -->
            {% endfor %}
        </div>
    </section>
</body>
</html>